:root {
    --color-bg-primary: #27292b;
    --color-bg-secondary: #f0f0e8;
    --color-headings: #676d69;
    --color-text: #bfb8a9;
}

html {
    scroll-padding-top: 80px;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text);
}

header {
    background-color: var(--color-bg-secondary);
    color: var(--color-headings);
}

footer {
    background-color: var(--color-bg-secondary);
    position: fixed;
    bottom: 0;
    width: 100%;

}

h1 {
    color: var(--color-headings);
}

a {
    text-decoration: none;
    color: var(--color-text);
}